:root {
    --gray-color:#676f81;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #f5f5f5;
  }

h1 {
    font-size: 48px;
    margin-top: 10px;
    margin-bottom: -16px;
}

a {
    color: white;
}

h2 {
    font-size: 24px;
}

h3 {
    font-family: sans-serif;
    font-weight: 200;
    font-size: 16px;
    vertical-align: middle;
    padding-left: 15px;
    height: 2rem;
    line-height: 2rem;;
    width: 200px;
    color: white;
    background:  var(--gray-color);
    margin-bottom: -0.5rem;
}

ul {
    list-style-type: square;
}

code {
    display: block;
    margin-top: -40px;
    margin-bottom: -60px;
    background: lightgrey;
}

header {
    display: flex;
    background:  var(--gray-color);
    justify-content: space-between;
    height: 220px;
}

main {
    margin: 0 15px;
}

footer {
    background:  var(--gray-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px;
    color: white
}

.cvbody {
    margin: 20px auto;
    width: 1024px;
    font-family: "Times New Roman", Georgia, Serif;
    font-size: 18px;
    background-color: white;
}

.cvhead-info {
    flex-grow: 1;
    color: white;
    padding: 0.5%;
    text-align: center;
}

.cvhead-info ul {
    margin: 0;
    padding: 0%;
    list-style-type: none;
}

.cvhead-info li {
    display: inline;
    margin-right: 15px;
}

.cvhead-info li img {
    vertical-align: middle;
    margin-right: 5px;
}

.cvhead-info li p {
    display: inline;
    vertical-align: middle;
}

.cvhead-info nav {
    margin-top: 10px;
}

.header-nav-menu a {
    text-decoration: none;
    color: #cad5eb
}

.header-nav-menu a:hover {
    text-decoration: underline;
}

.cvphoto {
    height: 100%;
}

#code a {
    color: black;
    text-decoration: none;
    font-style: italic;
}

.cv-video {
    margin-top: 20px;
    margin-bottom: 10px;
}

.git {
    display: flex;
    align-items: center;
}

.ico {
    margin-right: 10px;
}

@media(max-width: 1024px){
    .burger-menu {
        position: relative;
        width: 25px;
        height: 12px;
        display: block;
        margin-left: 10px;
        margin-top: 20px;
    }
    
    .burger-menu p {
        height: 2px;
        width: 100%;
        background: white;
        margin-top: -10px;
        margin-bottom: -5px;
    }

    .cvbody {
        max-width: 100%;
        min-width: 600px;
    }

    .header-nav {
            display: none;
    }

    .cvhead-info {
        margin-top: 20px;
    }

}

