h1 {
    font-size: 3rem;
    margin-bottom: -1rem;
}

h2 {
    font-size: 1.5rem;
}

h3 {
    margin-bottom: -0.5rem;
}

p {
    font-family: "Times New Roman", Georgia, Serif;
}

div {
    margin: auto;
}

.cvheader {
    background-color:  #5b6783;
    color: white;
    padding: 0.5%;
    text-align: center;
}

.cvheader img {
    float: left;
    max-height: 8.6rem;
    margin-right: 2%;
}

.cvbody {
    margin: 0 3%;
}